.v-table-title-class{
	color:#1a991d;
	font-size: 0.8125rem;
}
.v-table-body-class{
	font-size: 0.8125rem;
}
/* 小于安全库存红色标记 */
.less{
	color:red;
}

.field-readonly{
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-width: 0;
	margin: 0;
	padding: 0;
	color: #323233;
	text-align: left;
	border: 0;
	resize: none;
	background-color: #f5f5f5;
}